* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
  }
  
  html {
    background: #faf7f2;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
   /* CSS for Form  */
   .mainbox-container{
    display: flex;
    height: 500px;
    width: 900px;
    background-color: white;
   }
   .side-container
   {
    display: flex;
    height: 100%;
    width: 400px;
    background-color: #aaa;
   }
   .form-container{
    display: flex;
    height: 100%;
    width: 500px;
   }
   .form-floating input{
    width: 400px;
    border: 0;
    box-shadow: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
  }
  .form-floating textarea {
    border: 0;
    box-shadow: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
  }

  .form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .contaier-fluid{
    height: 100vh;
  }

  @media (max-width: 910px) {
    .side-container{
      display: none;
    }
    .form-container{
      width: 100vw;
    }
    .mainbox-container{
      width: 100vw;
    }
  }
